html {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg  , rgb(52, 246, 126) 0% , rgb(79, 213, 247)25% , rgb(161, 242, 40) 75% , rgb(243, 243, 83) 100%)
  }
.container{
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgb(247, 242, 242), 0 6px 20px 0 rgb(244, 242, 242);
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
  }
.button{
    border-radius: 25%; 
    border: 1px solid black;
    margin: 4px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    background-color: #35c1e3;
    width: 30px;
    height: 30px;
   }
